<h1>Update Crud</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nombre</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="CrudNombre"
        placeholder="Chocolate Bar"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Descripción</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="description"
        placeholder="Delicious Chocolate"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nomenclatura</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-input-number
        formControlName="quantityInStock"
        [nzMin]="0"
        [nzMax]="10000"
        [nzStep]="1"
      ></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 16, offset: 8 }"
    >
      <button nz-button nzType="primary">Update</button>
    </nz-form-control>
  </nz-form-item>
</form>
