<h1>Product List</h1>
<nz-table
  #basicTable
  [nzData]="crud"
  [nzBordered]="true"
  [nzSize]="'middle'"
>
  <thead>
    <tr>
      <th nzWidth="25%">Nombre</th>
      <th nzWidth="35%">Descripción</th>
      <th nzWidth="10%">Nomenclatura</th>
      <th nzWidth="20%">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gas of basicTable.data">
      <td>{{ gas.name }}</td>
      <td>{{ gas.description }}</td>
      <td>{{ gas.nomenclature }}</td>
      <td>
        <button nz-button nzType="default" (click)="selectCrud(gas)">
          Edit
        </button>
        <button
          nz-button
          nzType="default"
          nzDanger
          (click)="deleteCrud(gas.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
